# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

# 2 space indentation
[*.{js,jsx,ts,tsx,astro,css,scss,html,json,md}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Specific settings for Markdown files
[*.md]
trim_trailing_whitespace = false

# Specific settings for JSON files
[*.json]
indent_style = space
indent_size = 2
