{% extends "/layouts/standard.html" %}

{% macro Title %}Home{% end %}

{% macro Body %}
  <div class="m-4 mb-8">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h2 class="text-2xl font-bold text-center">🍡 Mochi - Minimalist Analytics</h2>
      <p class="text-center text-gray-600 mt-2">Lightweight, privacy-focused web analytics for the IndieWeb</p>

      <div class="mt-6 text-gray-700">
        <h3 class="text-lg font-bold">Why Mochi?</h3>
        <p class="mt-2">
          The web is becoming increasingly centralized, and most analytics services either invade privacy or are built for businesses, not individuals.
          I created Mochi because I wanted something <span class="font-bold">minimal</span>, <span class="font-bold">private</span>, and <span class="font-bold">indie</span>—something that aligns with the spirit of the open web.
        </p>
      </div>

      <div class="mt-6 text-gray-700">
        <h3 class="text-lg font-bold">What is Mochi?</h3>
        <p class="mt-2">
          Mochi is a lightweight, open-source analytics service designed for personal blogs and small projects. It provides essential insights without tracking invasive data—no cookies, no profiling, just simple stats.
        </p>
      </div>

      <div class="mt-6 text-gray-700">
        <h3 class="text-lg font-bold">Who is Mochi for?</h3>
        <p class="mt-2">
          If you have a personal website, blog, or creative project, Mochi is for you. This service is free for non-commercial use in the IndieWeb community. If you're unsure, feel free to <a href="https://meadow.cafe/mailbox/">reach out</a>.
        </p>
      </div>


      <div class="mt-6 text-gray-700">
        <h3 class="text-lg font-bold">How to Get Started</h3>
        <p class="mt-2">
          Sign up and integrate Mochi's lightweight tracker into your website. It's as simple as adding a single line of code.
        </p>
        <p class="mt-7 text-center">
          <a href="/user/login" class="text-white bg-blue-500 px-4 py-2 rounded-lg shadow-md">Get Started</a>
        </p>
      </div>

      <div class="mt-9 p-4 bg-gray-100 rounded-lg">
        <h3 class="text-lg font-bold">A Note on Stability</h3>
        <p class="mt-2">
          Mochi is an experimental service, and I can't guarantee long-term stability.
          If you need a more reliable solution with guaranteed uptime and data retention,
          consider using a more mature service like <a class="text-blue-500 underline" href="https://tinylytics.app">Tinylytics</a>.
        </p>
        <p class="mt-2">
           Mochi isn't here to compete—it exists to provide an open source, potentially self-hostable alternative for those who love the open web.
        </p>
      </div>
    </div>
  </div>
{% end %}
