{% extends "/layouts/standard.html" %}

{% macro Title %}Home{% end %}

{% macro Body %}
  <div class="m-4 mb-8">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h2 class="text-2xl font-bold text-center">🍡 Mochi - Minimalist Analytics</h2>
      <p class="text-center text-gray-600 mt-2">Lightweight, privacy-focused web analytics for the IndieWeb</p>

      <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mt-5" role="alert">
        <p class="font-bold">🚧 Under construction 🚧</p>
        <p>mochi is still a work in progress. I already use it as my main analytics platform, but it's missing many quality of live features, and some functionality is only partially done.</p>
      </div>

      <div class="mt-6 text-gray-700">
        <p class="mt-2">
          The web is becoming increasingly centralized, and most analytics services either invade privacy or are built for businesses, not individuals.
          I created Mochi because I wanted something <span class="font-bold">minimal</span>, <span class="font-bold">private</span>, and <span class="font-bold">simple</span>. Something that could fit the necessities of the open web.
        </p>
        <p class="mt-2">
          Originally I started this project since I was interested in trying my hand at implementing an analytics service, as well as to test out in practice some technical ideas I was curious about. It eventually expanded in scope and now it also supports something that I think is still drastically underused: webmentions.
        </p>
        <p class="mt-2">
          I mostly created this for myself, but I hope it can be useful to others too. I did my best to try and make the platform as easy as possible to use, with my main aim being that of giving another option to non-technical users.
        </p>
      </div>

      <div class="mt-6 text-gray-700">
        <h3 class="text-lg font-bold">What is Mochi?</h3>
        <p class="mt-2">
          Mochi has two parts. One is a lightweight analytics service designed for personal blogs and small projects. It provides essential insights without tracking invasive data—no cookies, no profiling, just simple stats.
        </p>
        <p class="mt-2">
          The second part is a webmention system that handles both sending and receiving. It automatically sends webmentions from your site to others and collects mentions your site receives from across the web. In my opinion, webmentions are a great idea but they're thorougly underused. Especially by non-technical users. I hope that by making it easier to use, more people will start using them.
        </p>
      </div>

      <div class="mt-6 text-gray-700">
        <h3 class="text-lg font-bold">Who is Mochi for?</h3>
        <p class="mt-2">
          If you have a personal website, blog, or creative project, Mochi is for you. This service is free for non-commercial use in the IndieWeb community. If you're unsure about whether your site is allowed then feel free to <a href="https://meadow.cafe/mailbox/" class="text-blue-500 underline">reach out</a>.
        </p>
      </div>


      <div class="mt-6 text-gray-700">
        <p class="mt-7 text-center">
          <a href="/user/register" class="text-white bg-blue-500 px-4 py-2 rounded-lg shadow-md">Get Started</a>
        </p>
      </div>

      <div class="mt-9 p-4 bg-gray-100 rounded-lg">
        <h3 class="text-lg font-bold">A Note on Stability</h3>
        <p class="mt-2">
          Mochi is an experimental service, and I can't guarantee long-term stability.
          If you need a more reliable solution with guaranteed uptime and data retention,
          consider using a more mature service like <a class="text-blue-500 underline" href="https://tinylytics.app">Tinylytics</a> (from which Mochi derives a lot of inspiration).
        </p>
        <p class="mt-2">
           Mochi isn't here to compete—it exists to provide an open source, potentially self-hostable alternative for those who love the open web.
        </p>
      </div>
    </div>
  </div>
{% end %}
