{% extends "/layouts/standard.html" %}

{% macro Title %}Home{% end %}

{% macro Body %}
  <div class="m-4 mb-8">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h2 class="text-xl font-bold">Hi!</h2>
      <div class="mt-2 text-gray-700">
        <p class="mb-2">
          Welcome to <span class="font-bold">🍡 mochi</span>!
        </p>
        <p class="mb-2">
          This is a simple analytics service that you can embed in your website.
          It's very experimental and minimal for now but I hope to add more
          features in the future.
        </p>
        <p class="mb-2">
          Note that this service is free <b>only</b> for personal blogs. If you use this analytics platform on any site that sells something
          or is a business, your account will be suspended without warning. If you want to use this for commercial purposes then you first need
          to get explicit permission from me (<a class="text-blue-500 underline" href="https://meadow.cafe/mailbox/">send me an email</a>),
          or <a class="text-blue-500 underline" href="https://codeberg.org/meadowingc/mochi">host your own instance</a> of <i>mochi</i>.
        </p>
        <p class="mb-4">
          <a href="/user/login" class="text-blue-500 underline">Login</a> to get
          started!
        </p>
      </div>
    </div>
  </div>
{% end %}
