{% extends "/layouts/standard.html" %}

{% macro Title %}Test embed page for site 1{% end %}

{% macro Body %}
  <script src="{{publicURL}}/reaper/embed/1.js" async></script>
  <div class="m-4 mb-8">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h2 class="text-xl font-bold">Hi!</h2>
      <div class="mt-2 text-gray-700">
        <p class="mb-2">
          [DEV] Page to test the embed code</span>
        </p>
        <p class="mb-2">
          This page embeds the <code>site 1</code> analytics script.
        </p>
      </div>
    </div>
  </div>
{% end %}
