<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/svg+xml"
      href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Ctext%20y='.9em'%20font-size='90'%3E🍡%3C/text%3E%3C/svg%3E"
    />
    <link rel="stylesheet" href="/assets/css/bundled_styles.css">
    <script src="https://mochi.meadow.cafe/reaper/meadow/embed/7.js" async></script>
    <link rel="webmention" href="https://mochi-webmentions.meadow.cafe/webmention/meadow/7/receive" />
    <title>{{ Title() }} | Mochi</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <header class="bg-white shadow">
      <div
        class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center"
      >
        {{ render "/components/navigation.html" }}
      </div>
    </header>

    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
          {{ render "/components/flash_message.html" }}
          {{ Body() }}
        </div>
      </div>
    </main>

    {{ render "/components/footer.html" }}
    {{ render "/components/cookie_banner.html" }}
  </body>
</html>
