---
import { actions } from "astro:actions";
import Layout from "../../layouts/Layout.astro";

const userWebId = Astro.cookies.get("userWebsite")?.value;

if (!userWebId) {
  return Astro.redirect("/");
}

const { data: dbUser, error: err1 } = await Astro.callAction(
  actions.user.getUserByWebsite,
  {
    website: userWebId,
  }
);

if (err1) {
  console.error(err1);
}

if (!dbUser) {
  return Astro.redirect("/");
}

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const url = data.get("url");

    if (!url || typeof url !== "string") {
      return;
    }

    const createSiteRes = await Astro.callAction(actions.site.createSite, {
      userId: dbUser.id,
      url,
    });

    if (createSiteRes.error) {
      console.error(createSiteRes.error);
    }

    if (createSiteRes.data) {
      return Astro.redirect("/dashboard");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

const { data: userSites, error: err2 } = await Astro.callAction(
  actions.user.getUserSites,
  {
    userId: dbUser.id,
  }
);

if (err2) {
  console.error(err2);
}

if (!userSites) {
  return Astro.redirect("/");
}
---

<Layout title="Dashboard">
  <h1 class="text-3xl font-bold leading-tight text-gray-900">Dashboard</h1>
  <div class="mt-6">
    <button
      onclick="document.getElementById('create-site-form').classList.toggle('hidden')"
      class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      Create New Site
    </button>
  </div>

  <!-- inline site creaton form because I'm lazy -->
  <form id="create-site-form" method="POST" class="mt-6 hidden">
    <div>
      <label for="url" class="block text-sm font-medium text-gray-700"
        >Site URL:</label
      >
      <input
        id="url"
        name="url"
        type="text"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="mt-4">
      <button
        type="submit"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Create Site
      </button>
    </div>
  </form>

  <!-- list of user sites -->
  {
    userSites && userSites.length > 0 && (
      <div>
        <hr class="my-6 border-gray-200" />
        <h2 class="text-xl font-bold leading-tight text-gray-900">Sites</h2>
        <ul class="mt-4">
          {userSites.map((site) => (
            <li class="flex items-center justify-between py-2 border-b border-gray-200">
              <a
                href={`/dashboard/site/${site.id}`}
                class="text-blue-600 hover:underline"
              >
                {site.url}
              </a>
              <span class="text-gray-500">{site.url}</span>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</Layout>
