---

---

<footer class="bg-white shadow mt-8">
  <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <p class="text-center text-sm text-gray-500">
      This project is <a
        class="underline"
        href="https://codeberg.org/meadowingc/mochi"
        target="_blank">open source</a
      >! Any contributions are welcome.
    </p>
    <p class="text-center text-sm text-gray-500">
      Made with ❤️ by <a
        class="underline"
        href="https://meadow.cafe"
        target="_blank">Meadow</a
      >
    </p>
  </div>
</footer>
