---
import { SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
let a = 1;
---

<nav>
  <ul class="flex space-x-4">
    {
      session ? (
        <>
          <li>
            <a href="/dashboard" class="text-gray-900 hover:text-gray-700">
              Dashboard
            </a>
          </li>
          <li>
            <SignOut class="text-gray-900 hover:text-gray-700">Logout</SignOut>
          </li>
        </>
      ) : (
        <>
          <li>
            <a href="/user/login" class="text-gray-900 hover:text-gray-700">
              Login
            </a>
          </li>
        </>
      )
    }
  </ul>
</nav>
