{% extends "/layouts/standard.html" %}

{% macro Title %}Site Details{% end %}

{% macro Body %}

  {% macro MetricsCountTable(pathToCounts []struct{Key string; Value int}, title, keyColumn, filterName string) %}
    <div class="mt-4">
      <h2 class="text-xl font-bold">{{ title }}</h2>
      {% if len(pathToCounts) == 0 %}
        <p>No data</p>
      {% else %}
        <ul class="mt-2">
          <li class="flex items-center justify-between py-2 px-4 border-b border-gray-200 bg-white">
            <span class="font-bold">{{keyColumn}}</span>
            <span class="font-bold">Visits</span>
          </li>
          {% for path_i, pdata := range pathToCounts %}
            {% bgColor := "bg-white" %}
            <li class="flex items-center justify-between py-2 px-4 border-b border-gray-200 {{bgColor}}">
              <span class="cursor-pointer text-blue-500" onclick="addFilter('{{filterName}}', '{{ pdata.Key }}')">{{ pdata.Key }}</span>
              <span>{{ pdata.Value }}</span>
            </li>
          {% end %}
        </ul>
      {% end %}
    </div>
  {% end %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <h1 class="text-2xl font-bold">{{site.URL}}</h1>

  <!-- embed instructions link -->
  <div class="mt-2 mb-8">
    <a
      href="/dashboard/site/embed_instructions/{{site.ID}}"
      class="text-blue-500 underline"
    >
      Embed Instructions
    </a>
  </div>

  <hr class="my-4 border-t border-gray-200" />

  <!-- total vists and filters -->
  <div class="m-4 mb-8">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h2 class="text-xl font-bold">
        Total visits in date range: <i>{%show len(hits) %}</i>
      </h2>

      <div class="mt-4">
        <form method="GET">
          <div class="flex flex-wrap items-center space-y-4 sm:space-y-0 sm:space-x-4">
            <div class="w-full sm:w-auto">
              <label for="minDate" class="block text-sm font-medium text-gray-700">Min Date</label>
              <input type="date" id="minDate" name="minDate" value="{{dateFmt("2006-01-02", minDate)}}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
            </div>
            <div class="w-full sm:w-auto">
              <label for="maxDate" class="block text-sm font-medium text-gray-700">Max Date</label>
              <input type="date" id="maxDate" name="maxDate" value="{{dateFmt("2006-01-02", maxDate)}}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
            </div>
            <div class="w-full sm:w-auto pt-6 sm:pt-0">
              <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer">
                Apply
              </button>
            </div>
          </div>
        </form>
        <div class="mt-4 flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4">
          <button onclick="setPreset('today')" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 cursor-pointer">
            Today
          </button>
          <button onclick="setPreset('lastWeek')" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 cursor-pointer">
            Last Week
          </button>
          <button onclick="setPreset('lastMonth')" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 cursor-pointer">
            Last Month
          </button>
          <button onclick="setPreset('pastYear')" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 cursor-pointer">
            Past Year
          </button>
          <button onclick="clearAllFilters()" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 cursor-pointer">
            Clear All Filters
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- graph of visits -->

  <h2 class="text-xl font-bold">Graph</h2>

  <canvas
    id="barChart"
    width="400"
    height="200"
  ></canvas>

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each path -->
  {{ MetricsCountTable(sortedCountsForPath, "Visits by Path", "Path", "pagePathFilter") }}

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each referer and referer for path -->
  {{ MetricsCountTable(sortedCountsForReferrer, "Visits by referrer", "Referrer", "referrerFilter") }}

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each country -->
  {{ MetricsCountTable(sortedCountsForCountry, "Visits by country", "Country", "countryFilter") }}

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each OS -->
  {{ MetricsCountTable(sortedCountsForOS, "Visits by OS", "OS", "osFilter") }}

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each browser -->
  {{ MetricsCountTable(sortedCountsForBrowser, "Visits by browser", "Browser", "browserFilter") }}

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each device -->
  {{ MetricsCountTable(sortedCountsForDevice, "Visits by device", "Device", "deviceFilter") }}

  <script>
    function clearAllFilters() {
      window.location.search = '';
    }

    function addFilter(filterName, filterValue) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set(filterName, filterValue);
      window.location.search = urlParams.toString();
    }

    function removeFilter(filterName) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.delete(filterName);
      window.location.search = urlParams.toString();
    }

    document.addEventListener("DOMContentLoaded", function () {
      const urlParams = new URLSearchParams(window.location.search);
      const filters = ['pagePathFilter', 'referrerFilter', 'countryFilter', 'osFilter', 'browserFilter', 'deviceFilter'];

      filters.forEach(filter => {
        const filterValue = urlParams.get(filter);
        if (filterValue) {
          const filterElements = document.querySelectorAll(`[onclick="addFilter('${filter}', '${filterValue}')"]`);
          filterElements.forEach(element => {
            element.classList.remove('text-blue-500');
            element.classList.remove('cursor-pointer');
            element.classList.add('text-gray-500');
            element.removeAttribute('onclick');
            const removeSpan = document.createElement('span');
            removeSpan.classList.add('text-red-500', 'cursor-pointer');
            removeSpan.textContent = ' x';
            removeSpan.onclick = function() {
              removeFilter(filter);
            };
            element.appendChild(removeSpan);
          });
        }
      });
    });

    function setPreset(preset) {
      const today = new Date();
      let minDate = today.toISOString().split('T')[0];

      const tomorrow = new Date(today.setDate(today.getDate() + 1)).toISOString().split('T')[0];

      if (preset === 'today') {
        minDate = new Date().toISOString().split('T')[0];
      } else if(preset === 'lastWeek') {
        minDate = new Date(today.setDate(today.getDate() - 7)).toISOString().split('T')[0];
      } else if (preset === 'lastMonth') {
        minDate = new Date(today.setMonth(today.getMonth() - 1)).toISOString().split('T')[0];
      } else if (preset === 'pastYear') {
        minDate = new Date(today.setFullYear(today.getFullYear() - 1)).toISOString().split('T')[0];
      }

      document.getElementById('minDate').value = minDate;
      document.getElementById('maxDate').value = tomorrow;
    }

    document.addEventListener("DOMContentLoaded", function () {
      const barChart = document.getElementById("barChart");
      const ctx = barChart.getContext("2d");

      const labels = JSON.parse({{toJSON(graphDays)}});
      const data = JSON.parse({{toJSON(graphVisits)}});

      new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Visits",
              data: data,
              backgroundColor: "rgba(75, 192, 192, 0.2)",
              borderColor: "rgba(75, 192, 192, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    });
  </script>

{% end %}
