{% extends "/layouts/standard.html" %}

{% macro Title %}{{site.URL}} | Webmentions{% end %}

{% macro Body %}
  <h1 class="text-2xl font-bold">{{site.URL}}</h1>

  <div class="mt-2">
    <a href="/dashboard" class="text-blue-500 underline mr-4">Back to Dashboard</a>
  </div>

  <!-- Tabs -->
  <div class="mb-8 mt-5 border-b border-t border-gray-200">
    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
      <a href="/dashboard/{{site.ID}}/analytics" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
        Analytics
      </a>
      <a href="/dashboard/{{site.ID}}/webmentions" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm text-indigo-600 border-indigo-500" aria-current="page">
        Webmentions
      </a>
    </nav>
  </div>

  <div class="mt-2">
    <a
      href="/dashboard/{{site.ID}}/webmentions/setup-instructions"
      class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
    >
      Setup webmentions on your site
    </a>
  </div>

  <hr class="my-4 border-t border-gray-200" />

  <!-- webmentions -->
  {% if len(webmentions) == 0 %}
    <p>No data</p>
  {% else %}
    <ul class="divide-y divide-gray-200">
      {% for webmention in webmentions %}
      <li class="py-4">
        <div class="flex justify-between items-center">
          <div>
            <p class="text-sm text-gray-500">
              <strong>Source URL:</strong>
              <a href="{{ webmention.SourceURL }}" class="text-blue-500 underline" target="_blank">{{ webmention.SourceURL }}</a>
            </p>
            <p class="text-sm text-gray-500">
              <strong>Target URL:</strong>
              <a href="{{ webmention.TargetURL }}" class="text-blue-500 underline" target="_blank">{{ webmention.TargetURL }}</a>
            </p>
            <p class="text-sm text-gray-500">
              <strong>Created At:</strong>
              {{ webmention.CreatedAt.Format("2006-01-02 15:04:05") }}
            </p>
            <p class="text-sm text-gray-500">
              <strong>Status:</strong>
              {{ webmention.Status }}
            </p>
          </div>
          <div class="flex space-x-2">
            <button class="text-indigo-600 hover:text-indigo-900">Approve</button>
            <button class="text-red-600 hover:text-red-900">Reject</button>
          </div>
        </div>
      </li>
      {% end %}
    </ul>
  {% end %}

{% end %}
