<div
  id="cookie-banner"
  class="fixed bottom-0 left-0 w-full bg-white border-t border-gray-200 shadow-lg p-4 text-center hidden"
>
  <p class="text-gray-700 text-sm">
    This website uses cookies for basic functionality (track your session so the
    platform knows who you are).
    <br />
    If you continue to use this site, you agree to the use of cookies, otherwise
    you should leave the site.
  </p>

  <div class="mt-2">
    <button
      id="accept-cookies"
      class="mr-4 px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-md shadow-sm text-sm font-medium"
    >
      Accept
    </button>
    <button
      onclick="rejectCookies();"
      class="px-4 py-2 border border-gray-400 text-gray-700 bg-white hover:bg-gray-50 rounded-md shadow-sm text-sm font-medium"
    >
      Decline
    </button>
  </div>
</div>
<script>
  (function () {
    var acceptedCookies = localStorage.getItem("acceptedCookies");
    if (!acceptedCookies) {
      document.getElementById("cookie-banner").classList.remove("hidden");
    }

    document.getElementById("accept-cookies").onclick = function () {
      localStorage.setItem("acceptedCookies", "true");
      document.getElementById("cookie-banner").classList.add("hidden");
    };
  })();

  function rejectCookies() {
    document.body.innerHTML =
      '<h1 class="text-center mt-20">We\'re sad to hear that, but we respect your cookie choices. Have a fun cookie-free day!</h1>';
  }
</script>
