<nav>
  <ul class="flex space-x-4">
    {% if signedInUser == nil %}
      <li>
        <a href="/user/login" class="text-gray-900 hover:text-gray-700">
          Login
        </a>
      </li>
      <li>
        <a href="/user/register" class="text-gray-900 hover:text-gray-700">
          Register
        </a>
      </li>
    {% else %}
      <li>
        <a href="/dashboard" class="text-gray-900 hover:text-gray-700">
          Dashboard
        </a>
      </li>
      <li>
        <a href="/user/logout" class="text-gray-900 hover:text-gray-700">Logout</a>
      </li>
    {% end %}
  </ul>
</nav>
